@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center"> Welcome To The Grand Circus Coffee Shop!</h1>
<div class="text-center">
    <li class="nav-item">
        <a class="" asp-area="" asp-controller="Home" asp-action="Registration">Register Here!</a>
    </li>
    <li class="nav-item">
        <a class="" asp-area="" asp-controller="Home" asp-action="UserInfo">UserInfo</a>
    </li>
</div>
